body {
	background: url("../images/background.jpg");

}

.display {
	display: none;
}

#all{
	background: white;
	opacity: .9;
	margin-top: 40px;
}

#title {
	text-align: center;
}

#playButton {
	margin-bottom: 10px;
}

#trivia {
	padding: 10px;
}
#submitButton {
	margin: 10px;
}

.alignCenter{
	text-align: center;
}